<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  {% seo %}
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Source+Serif+Pro:ital,wght@0,400;0,600;0,900;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <div id="sidebar">
    <div id="sidebar-content">
      <h1>Heidi Dong</h1>
      <nav>
        <ol>
          <li>
            <a href="/">
              <div class="navlink-image">
                <img src="/img/me_tiny.jpg">
              </div>
              <div class="navlink-description">
                <strong>About</strong>
                <span>My interests and what I’m up to</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/project/edupad/">
              <img src="/img/hp.png" class="navlink-image">
              <div class="navlink-description">
                <strong>EduPad</strong>
                <span>Designing for distance learning</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/project/nytimes/">
              <img src="/img/nytcooking.png" class="navlink-image">
              <div class="navlink-description">
                <strong>New York Times internship</strong>
                <span>Frontend engineering on NYT Cooking</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/project/sitelab/">
              <img src="/img/sitelab.png" class="navlink-image">
              <div class="navlink-description">
                <strong>SITELAB Urban Studio</strong>
                <span>Exploring placemaking in San Francisco</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/project/flexport/">
              <img src="/img/flexport.png" class="navlink-image">
              <div class="navlink-description">
                <strong>Flexport internship</strong>
                <span>Design systems & frontend engineering</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/project/crucible/">
              <img src="/img/crucible.png" class="navlink-image">
              <div class="navlink-description">
                <strong>The Crucible</strong>
                <span>Redesigning online art class registration</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/project/paypal/">
              <img src="/img/paypal.png" class="navlink-image">
              <div class="navlink-description">
                <strong>PayPal internship</strong>
                <span>Improving merchant onboarding flows</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/project/omnisci/">
              <img src="/img/omnisci.png" class="navlink-image">
              <div class="navlink-description">
                <strong>OmniSci</strong>
                <span>Designing an educational web app</span>
              </div>
            </a>
          </li>
          <li>
            <a href="/project/keewi/">
              <img src="/img/keewi.png" class="navlink-image">
              <div class="navlink-description">
                <strong>Keewi internship</strong>
                <span>Mobile app and website redesign</span>
              </div>
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  
  <main>
    {% if page.main_intro %}
      <section id="intro">
        <div class="container">
          <img src="img/me.jpg" alt="">
          <div id="intro-text">
            <h2>I’m Heidi — currently a senior at UC Berkeley, mostly spending time exploring design & computer science.</h2>
            <p>
              For a quick rundown of my work, here is my <a href="HeidiDong_resume_Nov2020.pdf" target="_blank">resume</a> (last updated November 2020), <a href="https://github.com/heidid" target="_blank">GitHub</a>, and <a href="https://www.linkedin.com/in/heididong/" target="_blank">LinkedIn</a>.
            </p>
          </div>
        </div>
      </section>
    {% endif %}

    {% if page.intro %}
      <div id="project-intro">
        <div class="container">
          {{ page.intro | markdownify }}
        </div>
      </div>
    {% endif %}

    <div class="container markdown-body" id="about-content-wrapper">
{{ content }}
    </div>
    <footer>
      <div class="container">
        <h2>Thanks for reading!</h2>
        <p><small>Copyright &copy; 2020 Heidi Dong.</small></p>
      </div>
    </footer>
  </main>

  
  <script type="text/javascript">
    const navlinks = document.querySelectorAll('nav a');
    for (let i = 0; i < navlinks.length; i++) {
      if (navlinks[i].href === location.href) {
        navlinks[i].classList.add('active');
      }
    }
  </script>

</body>
</html>
